<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task App</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,90,100..900;1,90,100..900&family=Roboto+Mono:ital,wght@1,300&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="top">
        <nav class="nav_bar">
            <div class="title">
                <h1>Task App</h1>
            </div>
            <div class="bar">
                <div class="phrase-text">
                    <h2>Plan. Act. Accomplish.</h2>
                </div>
            </div>
        </nav>
    </header>
    <section class="login-section"">
        <div class="main-banner">
            <div class="login-forms">
                <div class="login-block">
                    <div class="login-title"><h2>Register</h2></div>
                    <div class="login-form">
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <p>Username</p>

                            {% if form.username.errors%}
                                {{form.username(class="text-inputs-invalid")}}
                                <div class="invalid-feedback">
                                    {%for error in form.username.errors%}
                                        <p>{{error}}</p>
                                    {%endfor%}
                                </div>
                            {% else %}
                                {{ form.username(class="text-inputs") }}
                            {%endif%}
                            <p>Email</p>
                            {% if form.email.errors%}
                                {{form.email(class="text-inputs-invalid")}}
                                <div class="invalid-feedback">
                                    {%for error in form.email.errors%}
                                        <p>{{error}}</p>
                                    {%endfor%}
                                </div>
                            {% else %}
                                {{ form.email(class="text-inputs") }}
                            {%endif%}
                            <p>Password</p>
                            {% if form.password.errors%}
                                {{form.password(class="text-inputs-invalid")}}
                                <div class="invalid-feedback">
                                    {%for error in form.password.errors%}
                                        <p>{{error}}</p>
                                    {%endfor%}
                                </div>
                            {% else %}
                                {{ form.password(class="text-inputs") }}
                            {%endif%}
                            <p>Confirm Password</p>
                            {% if form.confirm_password.errors%}
                                {{form.confirm_password(class="text-inputs-invalid")}}
                                <div class="invalid-feedback">
                                    {%for error in form.confirm_password.errors%}
                                        <p>{{error}}</p>
                                    {%endfor%}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="text-inputs") }}
                            {%endif%}
                            <button class="login-submit" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="right_main_section">
                <a href="{{url_for('login')}}">Already have an account? <br>Login Here!</a>
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>