<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task App</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,90,100..900;1,90,100..900&family=Roboto+Mono:ital,wght@1,300&family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="top">
        <nav class="nav_bar">
            <div class="title">
                <h1>Task App</h1>
            </div>
            <div class="bar">
                <div class="phrase-text">
                    <h2>Plan. Act. Accomplish.</h2>
                </div>
            </div>
        </nav>
    </header>
    {%with messages = get_flashed_messages(with_categories=true)%}
        {%if messages%}
            {%for category, message in messages%}
            <div class="alert alert-{{category}}">
                {{message}}
            </div>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <section class="login-section"">
        <div class="main-banner">
            <div class="login-forms">
                <div class="login-block">
                    <div class="login-title"><h2>Login</h2></div>
                    <div class="login-form">
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <p>Insert new password</p>
                            {{ form.password(class="text-inputs") }}
                            <p>Confirm new password</p>
                            {{form.confirm_password(class="text-inputs")}}
                            <button class="login-submit" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="right_main_section">
                <a href="{{url_for('register')}}">New account <br>Register Here!</a>
            </div>
        </div>
    </section>
</body>